body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 80vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h2{
    text-align: center;
}

p{
    margin: 0;
    font-size: x-large;
    font-weight: bolder;
    color: white;
}

.flex-container{
    display: flex;
    align-content: space-around;
    flex-direction: column;
}


.container-item{
    border: solid 1px black;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.item-caixa{
    width: 150px;
    height: 150px;
    border: solid 2px #ff2919;
    box-shadow: -15px 15px #ff2919;
}

.borda{
    border: solid 1px black;
    padding: 20px;
}

.container-item2{
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 5px;
}

.item-caixa2{
    height: 65px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shrink{
    flex: 1 1 0;
}

.grow1{
    flex-grow: 1.2; 
}
